* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}
.title {
    border: 1px solid black;
    display: inline;
    padding: 3px 25px;
    font-weight: bold;
    font-size: large;
    position: relative;
    top: -1px;
    left: 1px;
}

.titleOne {
    background-color: #D59898;
}
.titleTwo {
    background-color: #C14543;
}
.titleThree {
    background-color: #E5D198;
}

.box1,
.box2,
.box3 {
    max-width: 400px;
    border: 2px solid black;
    margin: 20px 15px;
    background-color: #999999;
    font-weight: 600;
}

.paragraph {
    padding: 10px 10px;
}


